<!DOCTYPE html>
<html>
<title>Sistema Videovigilancia</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
  body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}
</style>
<body class="w3-light-grey w3-content" style="max-width:1600px">

  <nav class="w3-sidebar w3-collapse w3-white w3-animate-left" style="z-index:3;width:300px;" id="mySidebar"><br>
    <div class="w3-container">
      <img src="/static/imagenes/camara-vigilancia.jpg" style="width:45%;" class="w3-round"><br><br>
      <h4><b>BIENVENIDO</b></h4>
    </div>
    <div class="w3-bar-block">
    	<form action="/" method="POST">
			<div class="w3-padding w3-text-teal">
				<input type="text" class="login-field" value="" placeholder="usuario" name="username">
				<label class="login-field-icon fui-user" for="login-name"></label>
			</div>
 
			<div class="w3-padding w3-text-teal">
				<input type="password" class="login-field" value="" placeholder="password" name="password">
				<label class="login-field-icon fui-lock" for="login-pass"></label>
			</div>
 
            <input type="submit" value="Entrar" class="w3-bar-item w3-button w3-padding w3-text-teal" >
		</form>
    </div>
  </nav>

  <div class="w3-main" style="margin-left:300px">

    <!-- Header -->
    <header id="portfolio">
      <div class="w3-container">
      <h1><b>Sistema de Videovigilancia</b></h1>

      </div>
    </header>


  </div>
</body>
</html>