<!DOCTYPE html>
<html>
<title>Sistema Videovigilancia</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
  body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}
</style>
<body class="w3-light-grey w3-content" style="max-width:1600px">

  <nav class="w3-sidebar w3-collapse w3-white w3-animate-left" style="z-index:3;width:300px;" id="mySidebar"><br>
    <div class="w3-container">
      <img src="/static/imagenes/camara-vigilancia.jpg" style="width:45%;" class="w3-round"><br><br>
      <h4><b>BIENVENIDO</b></h4>
    </div>
    <div class="w3-bar-block">
      <a href="/logout" class="w3-bar-item w3-button w3-padding"><i class="fa fa-user fa-fw w3-margin-right"></i>CERRAR SESIÓN</a> 

    </div>
  </nav>

  <div class="w3-main" style="margin-left:300px">

    <!-- Header -->
    <header id="portfolio">
      <div class="w3-container">
      <h1><b>Sistema de Videovigilancia</b></h1>
      <div class="w3-section w3-bottombar w3-padding-16">
      </div>
      </div>
    </header>
    <br>
    <br>
    <center>
      <img src="{{ url_for('video_feed') }}" border="5" width='950px' height='450px'>
    </center>
  </div>
</body>
</html>